<%- include("partials/header") -%>
<h1>Bug Name: <%= bug.title %> // Status: <%= bug.status%></h1>
<hr>
<h2>Bug Description</h2>
<p> <%= bug.description %></p>
<h4> Is the bug repeatable? <%= bug.repeatable %>.</h4>

<hr>

<h2>Changelog</h2>
<ul>
  <% bug.changes.forEach(change => { %>
    <li>
      <%= change %>
    </li>
  <% }) %>
</ul>
<!-- Insert changes property of bug objects here -->

<hr>

<form method="post">
  <div class="form-group">
    <label for="statusSelect">Please select a status for the bug</label>
    <select class="form-select" name="statusSelect" id="" required>
      <option selected value="currentStatus">Current Status: <%= bug.status%></option>
      <option value="queued">Queued</option>
      <option value="assigned">Assigned</option>
      <option value="fixed">Fixed</option>
    </select>
    <label for="bugChanges">Notes for Changelog</label><textarea class="form-control" name="bugChanges" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-dark" type="submit">Submit Changes</button>
  </div>
</form>
<%- include("partials/footer") -%>