<%- include("partials/header") -%>
<div class="container-fluid bugs-container">
  <table class="table">
    <tbody>
      <tr>
        <td><h1>Bug Title: <%= bug.title %></h1></td>
        <td><h1 class="status-h1">Status: <%= bug.status%></h1></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h2>Bug Description</h2>
  <p> <%= bug.description %></p>
  <h4> Is the bug repeatable? <%= bug.repeatable %>.</h4>
  
  <hr>
  
  <h2>Changelog</h2>
  <ul>
    <% bug.changes.forEach(change => { %>
      <li>
        <%= change %>
      </li>
    <% }) %>
  </ul>
  <!-- Insert changes property of bug objects here -->
  
  <hr>
  
  <form method="post">
    <div class="form-group">
      <label for="statusSelect">Please select a status for the bug</label>
      <select class="form-select" name="statusSelect" id="" required>
        <option selected value="<%=bug.status%>">Current Status: <%= bug.status%></option>
        <option value="queued">Queued</option>
        <option value="assigned">Assigned</option>
        <option value="fixed">Fixed</option>
      </select>
      <input type="hidden" name="assignedTo" value="<%=currentUser.name%>" class="">
      <label for="bugChanges"><p>Notes for Changelog</p></label><textarea required class="form-control" name="bugChanges" id="" cols="30" rows="10"></textarea>
      <button class="btn submit-btn" type="submit">Submit Changes</button>
    </div>
  </form>
</div>
<%- include("partials/footer") -%>